**/dataset/*
**/dataset.zip
**/__pycache__
**/work_dirs/
**/wandb
**/newdataset
**/artifacts
**/__pycache__/

**/*.wandb
**/*-master
**/*.log
**/*.txt
**/yolo/runs
**/yolo/**.pt
**/*.csv
**/*-master
**/*.log
**/*.pt
**/*.pth
**/*.pyc
**/sample
