**/dataset
**/dataset.zip
**/__pycache__
**/*.pth
**/*.pyc
**/wandb
**/*.wandb
**/__pycache__/
**/*-master
**/*.log
**/*.txt
**/yolo/runs
**/yolo/**.pt
**/*.csv

**/*-master
**/*.log
**/*.txt

**/work_dirs/
**/*.pt
**/yolo/runs

**/sample
**/newdataset
**/yolo/runs
**/yolo/**.pt
**/*.csv

**/artifacts